{% extends "main/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col mx-auto">
                    <h3>{% trans "Sign In" %}</h3>
                    <p class="my-3">{% blocktrans %}Not registered? No problem - it's quick, easy, and free of charge.
                    </p>
                    <a class="btn btn-success my-3" href="{{ signup_url }}">Sign up here</a>{% endblocktrans %}
                    <form class="post-ad-form login d-grid" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                            {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <a class="button secondaryAction text-secondary text-shadow" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        <button class="primaryAction btn btn-main mt-3" type="submit">{% trans "Sign In" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
