{% extends "main/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="row g-0">
    <div class="col mx-auto p-4">
        <h2>{% trans "Sign Out" %}</h1>

            <p>{% trans 'Thanks for your visit! Click below to proceed.' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-main" type="submit">{% trans 'Sign Out' %}</button>
            </form>
    </div>
</div>

{% endblock %}