{% extends "main/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col p-0">
        <div class="row justify-content-center shadow-lg pad-16 mb-8 bg-image hero-img-home"
            style="background-image: url('https://scontent-arn2-1.xx.fbcdn.net/v/t1.6435-9/107693551_2983534108412424_4619359158746219415_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=DvnQmmBpcD4AX-H--0N&_nc_ht=scontent-arn2-1.xx&oh=3ac77778042f14876f46215e05641ae8&oe=61A30EB4');">
            <div class="col-4">
                <div class="pad-16 text-white text-shadow">
                    <h1>{% trans "Sign Up" %}</h1>

                    <p >{% blocktrans %}Already have an account? 
                        <a class="d-block link-light lead" href="{{ login_url }}">Sign In Here</a>.{% endblocktrans %}</p>

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-main mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}