{% extends "main/base.html" %}
{% load static %}
{% block content %}

<!-- PIANO ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- GUITAR ICON: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- DRUMS ICON:<div>Icons made by <a href="https://www.flaticon.com/authors/georgy" title="Georgy">Georgy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- CLARINET ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- TRUMPET ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- MIXER ICON: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- CELLO ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- ACCORDION ICON: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->



            <div class="row g-0 justify-content-center fade-down">
                <div class="col col-lg-10">
                    <div class="pad-16 mb-8 hero-img-home">
                        <div class="col col-md-6 col-lg-3">
                            <div class="pad-16 text-white">
                                <form method="get" action="{% url 'search:search' %}">
                                    <div class="mb-3 input-container">
                                        <label for="search-input" class="dark-text-shadow form-label">Search</label>
                                        <input class="shadow form-control input-with-icon" id="search-input" name="search" type="text"
                                            placeholder="What are you looking for?">
                                        <i class="input-icon fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <div class="mb-3 input-container">
                                        <label for="select-category" class="form-label dark-text-shadow">Category</label>
                                        <select class="shadow form-select input-with-icon" name="select-category"
                                            id="select-category">
                                            {% for category in categories %}
                                            <option value="{{ category }}">{{ category }}</option>
                                            {% endfor %}
                                        </select>
                                        <i class="input-icon fa-solid fa-sort"></i>
                                    </div>
                                    <div class="mb-3 input-container">
                                        <label for="select-category" class="dark-text-shadow form-label">Area</label>
                                        <select class="shadow form-select input-with-icon" name="select-area" id="select-area">
                                            {% for area in area_list %}
                                            <option value="{{ area }}">{{ area }}</option>
                                            {% endfor %}
                                        </select>
                                        <i class="input-icon fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button href="{% url 'search:search' %}" type="submit" class="mt-4 btn btn-main shadow">Search Ads</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0 fade-up">
                <div class="col col-lg-10 my-3 mx-auto">
                    <div class="row banner pt-1">
                    <h3>Categories</h3>
                    </div>
                    <ul class="list-inline g-0 text-center">
                        {% for category in db.cat %}
                        <li class="m-0 col-6 col-md-3 col-lg-1 list-inline-item">
                            <div class="mt-2 text-center">
                                <a href="/search/{{ category.url }}">
                                    <p class="small-text">{{ category.name }}</p>
                                    <img src="{{ MEDIA_URL }}icons/{{ category.image }}.png"
                                    class="d-flex cat-icons justify-content-center" alt="{{ category.image }}-icon">
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center"></div>
            <div class="col col-lg-10 mx-auto">
            <div class="row g-0 mx-auto">
                <div class="col-md-4">
                    <div class="card text-white feature">
                        <div class="card-body pad-16 feature-img d-flex align-items-center flex-column"
                            id="feature-img-1">
                            <h5 class="card-title dark-text-shadow">Find your gear today</h5>
                            <p class="card-text dark-text-shadow">Give great instruments a new life.</p>
                            <div class="mt-auto w-100">
                                {% if request.user.is_authenticated %}
                                <a class="btn btn-outline-light text-shadow btn-lg" role="button" href="{% url 'ads:post_ad' %}">Post Ad</a>
                                {% else %}
                                <a class="btn btn-outline-light dark-text-shadow" role="button" href="{% url 'account_login' %}">Post Ad</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white feature">
                        <div class="card-body pad-16 feature-img d-flex align-items-center flex-column"
                            id="feature-img-2">
                            <h5 class="card-title dark-text-shadow">Fun for the young ones</h5>
                            <p class="card-text dark-text-shadow">Trending instruments for kids - NAMM lists the top 10 (External link).</p>
                            <div class="mt-auto w-100">
                                <a href="https://www.nammfoundation.org/articles/2020-03-11/top-10-instruments-children-learn-play-music" class="btn btn-outline-light dark-text-shadow btn-lg">Check It Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white feature">
                        <div class="card-body pad-16 feature-img d-flex align-items-center flex-column"
                            id="feature-img-3">
                            <h5 class="card-title dark-text-shadow">Don't have an account?</h5>
                            <p class="card-text dark-text-shadow">Sign Up and gain full access - completely free of charge.
                            </p>
                            <div class="mt-auto w-100">
                                <a href="{% url 'account_login' %}" class="btn btn-outline-light dark-text-shadow btn-lg">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endblock %}