html, body {
    margin: 0;
    padding: 0;
}

.main-container {
    background: linear-gradient(45deg, #fff7f0, #fbeaff42);
}

p, span, a, h2, h3, h4, h5 {
    font-family: 'PT Sans', sans-serif;
}


p, span, a {
    font-weight: 400;
}

h2 {
    font-size: calc(1.3rem + .8vw);
    color: #636363;
}

a:active {
    color:rgb(141, 96, 0)
}

a:hover {
    color:rgb(175, 120, 0)
}

footer {
    background: linear-gradient(transparent, #bba68f);
    /* position: absolute;
    width: 100%; */
}

a {
    color: #412f1c;
    text-decoration: none;
}

.banner, .banner-2, .banner-3 {
    width: 100%;
    margin: 0 auto;
}

.banner {
    background: linear-gradient(
    45deg, #ffffff, transparent);
    padding-left: 2%;
}

.banner-2 {
    background: linear-gradient(
    45deg, #e7f3df, transparent);
}

.banner-3 {
    background: linear-gradient(
    45deg, #f3dfdf, transparent);
}

.navbar-brand, h1 {
    font-family: 'Comforter Brush', cursive;
    font-size: 2rem;
    padding: .8rem .3rem 0;
    text-shadow: -2px -1px 12px #b78539;
}

.custom-text-shadow {
    text-shadow: 0 0 15px #6a7b8391, 0px 0px 15px #adb5bd00;
}

.link-light {
    color: #fac790;
}

.nav-item {
    padding: 6px;
}

.pad-16 {
    padding: 16px;
}

.hero-img-home {
    background-image: url('/media/main_background.jpeg');
    height: 80vh;
    margin-top: 5px;
    background-size: cover;
    background-position: center;
}

.small-text {
    font-size: .9rem;
    overflow: hidden;
    overflow-wrap: initial;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.navbar {
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
    background: linear-gradient(#ffd9cf, #fff8ea, #fef9fa80);
    padding: 0 .5rem;
    z-index: 1;
}

.navbar-toggler-icon {
    background-size: 110%;
}

.fade-up {
    background: linear-gradient(rgb(233, 201, 164), transparent);
}

.fade-down {
    background: linear-gradient(transparent, rgb(233, 201, 164));
}

.soft-fade-up {
    background: linear-gradient(20deg, rgb(233, 216, 196), rgb(255, 242, 227));
}

.navbar-toggler {
    padding: .25rem .55rem;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, .25);
}

.nav-link {
    font-weight: bold;
    /* text-shadow: 1px 1px 10px rgb(158 140 104 / 72%); */
}

.cat-circle {
    border-radius: .8rem;
}

.cat-icons {
    width: 50%;
    margin: 0 auto;
}

footer svg, .cat-icons {
    transition: transform 200ms ease-in-out;
}

.cat-card {
    margin: 0 auto;
    background: #d2a5341a;

}

.feature {
    height: 350px;
}

.feature-img {
    width: 100%;
    background-size: cover;
}

#feature-img-1 {
    background-image: url("/media/man_guitar_singing.jpg");
}

#feature-img-2 {
    background-image: url("/media/child_ukulele.png");
}

#feature-img-3 {
    background-image: url("/media/girl_keyboards.png");
}

.orange-text-shadow {
    text-shadow: 1px 1px 10px #9e8c68b8;
}

.dark-text-shadow {
    text-shadow: -2px 2px 10px #000000f2, 2px -3px 10px #382b45;
}

.card {
    overflow: hidden;
}

.card-footer {
    background: transparent;
    border-top: 0px;
  }

.btn {
    display: block;
    /* width: 100%; */
}

.btn-success {
    background-color: #6a991e;
}

.btn:active, button:active, .btn:hover {
    color: white;
}

.btn-outline-light:hover {
    background-color: rgba(168, 119, 46, 0.3);
    color: #fff;
}

.btn-main {
    background-color: rgb(182, 135, 64);
    border: rgb(167, 123, 42);
    color: #fff;
    
}

.btn {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.4); 
}

.btn:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4), 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.btn-main:hover {
    background-color: rgb(211, 146, 49);
    border: rgb(139, 105, 41);
    font-weight: 500;
    
}

.post-ad-form .bg-secondary {
    border: none;
}

li .btn-main {
    width: 100px;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;
}

.svg {
    font-size: 2em;
}

.fa-ul svg {
    font-size: .8em;
    color:rgb(139, 105, 41);
}

.user-icon {
    color: #b9881d;
    height: 35%;
}

.alert {
    position: fixed;
    width: 100vw;
    border-radius: 0;
    font-size: .7rem;
    padding: 5px 0;
    left: 0;
    top: 16%;
    opacity: .7;
    text-align: center;
}

.alert .btn-close {
    position: absolute;
    top: 8px!important;
    left: 250px;
    right: 0;
    padding: 0 0 0 100px!important;
}

.login input, .post-ad-form input, select, .textarea, .signup input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.login label {
    margin-bottom: .5rem;
}

.post-ad-form {
    border-radius: .25rem;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px -1px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: rgb(167, 123, 42);
    color: rgb(167, 123, 42);
    padding: 18px;
}

.post-ad-form label {
    margin: .5rem auto;
}

.login label {
    text-shadow: 0 0 15px #6a7b8391, 0px 0px 15px #adb5bd00;
}

#id_remember {
    width: auto;
    appearance: auto;
}

.input-container {
    position: relative;
}

.input-with-icon {
    padding-left: 35px;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 42px;
    color: gray;
}

#id_image {
    background-color: #fff;
    margin-left: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.errorlist {
    list-style-type: none;
    background-color: #ffeaea;
    padding: 7px 14px;
    color: red;
    border-radius: 5px;
    text-shadow: none;
}

.errorlist li {
    font-family: 'PT Sans', sans-serif;
}

/* AUTOCOMPLETE STRALDGE */
 
.title {
width: 100%;
margin-block-end: 0;
font-weight: 500;
}

.note {
width: 100%;
margin-block-start: 0;
font-size: 12px;
}

.full-field {
flex: 400px;
margin: 15px 0;
}

.slim-field-left {
flex: 1 150px;
margin: 15px 15px 15px 0px;
}

.slim-field-right {
flex: 1 150px;
margin: 15px 0px 15px 15px;
}

.my-button {
background-color: #000;
border-radius: 6px;
color: #fff;
margin: 10px;
padding: 6px 24px;
text-decoration: none;
}

.my-button:hover {
background-color: #666;
}

.my-button:active {
position: relative;
top: 1px;
}

.messages_list {
    list-style-type: none;
    margin: 0 auto;
}

.msg-sent {
	background: #b68740;
    border: 1px solid #6b4c28;
}

.msg-sent, .msg-recieved {
    position: relative;
	border-radius: .6em;
    padding: 1em;
    margin: 25px auto;
    color: white;
    box-shadow: 0 0 10px darkslategrey;
    text-shadow: 0 0 5px black
}

.msg-recieved {
    background: #554e44;
    margin: 25px 50px 25px -25px;
    border: 1px solid #262020;
}

.msg-sent:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.906em solid transparent;
	border-left-color: #b68740;
	border-right: 0;
	border-bottom: 0;
	margin-top: -0.453em;
	margin-right: -0.906em;
}

.msg-recieved:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.906em solid transparent;
	border-right-color: #554e44;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.453em;
	margin-left: -0.906em;
}

.btn-send {
    margin-top: 2.1rem;
}

.msg-form {
    /* position: fixed;
    bottom: 0;
    right: 0;
    padding: 7px; */
}

.msg-form label {
    margin-top: 0;
}

.profile-card {
    border: none;
    border-radius: 20px;
    text-align: center;
    padding-top: 1.5rem;
    height: 100%;
}

.user-icon {
    font-size: 1.5rem;
}

.elips-container {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elips-text {
    max-width: 30px;
}

.thmbn-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ad {

}

.fa-ul {
    text-align: right;
}

.fa-heart {
    color: red;
}

.fa-heart, .fa-share-square {
    cursor: pointer;
}

.save-share-link {
    font-size: .6rem;
    border: 1px solid rgb(141, 96, 0);
    box-shadow: none;
}

.bg-creme {
    background-color: #f3eee4;
    border: none;
}

.share-div a {
    font-size: .8rem;
}

.share-div button {
    text-align: center;
}

.fa-facebook {
    color: #139bf6;
}

.fa-reddit {
    color: #fb6515;
}

.fa-whatsapp {
    color: #4dcb5a;
}

.btn-light {
    box-shadow: 0 0 10px, rgb(136, 136, 136);
    border: 1px solid rgb(228, 172, 68);
}

.fa-instagram {
    color: #dc2743;
}

.fa-twitter {
    color: #0f9bfb;
}

.fa-youtube {
    color: #ff0100;
}


.sold {
    text-decoration: line-through;
}

label[for="id_sold"] {
display: inline;
text-align: left;
width: fit-content;
border: none;
}

#id_sold {
width: fit-content;
display: inline;
margin-top: 18%;
font-size: 3rem;
}

.hide-sold label[for="id_sold"], .hide-sold label[for="id_sold"], .hide-sold #id_sold {
    display: none;
}

.post-ad-form p:nth-child(8) {
    margin: 0 auto 0 0;
    align-self: flex-start;
}

.card.bg-dark {
    opacity: .8;
}

input.bg-secondary:hover {
    color: white;
}

.modal-body .btn {
    box-shadow: none;
    height: 100%;
}

.cat-icons:hover, footer svg:hover {
    transform: scale(1.1);
    transform-origin: center;
}



@media only screen and (min-width: 768px) {
    .hero-img-home {
        height: 40vh;
    }

    .cat-icons {
        width: 30%;
    }

    .alert {
        width: 50vw;
        border-radius: 5px;
        padding: 5px 0;
        left: 50vw;
        margin-left: -25vw;
        top: 9%;
    }

    .alert .btn-close {
        left: 310px;
    }

    .profile-card {
        height: 90%;
    }

   .navbar-brand {
        font-size: 4rem;
    }

}