html, body {
    margin: 0;
    padding: 0;
}

p, span, a, h2, h3, h4, h5 {
    font-family: 'PT Sans', sans-serif;
}

p, span, a {
    font-size: 1rem;
    font-weight: 400;
}

h2 {
    font-size: calc(1.3rem + .8vw);
    color: #636363;
}

.fade-up {
    background: linear-gradient(transparent, #f3eee4);
}

a {
    color: #412f1c;
    text-decoration: none;
}

.banner, .banner-2, .banner-3 {
    box-shadow: 0 0 10px #ffeed485;
    width: 100%;
}

.banner {
    background: linear-gradient(
    45deg, #dff3ef, transparent);
}

.banner-2 {
    background: linear-gradient(
    45deg, #e7f3df, transparent);
}

.banner-3 {
    background: linear-gradient(
    45deg, #f3dfdf, transparent);
}

.navbar-brand, h1 {
    font-family: 'Comforter Brush', cursive;
    font-size: 2rem;
    padding: .8rem .3rem 0;
    text-shadow: -2px -1px 12px #b78539;
}

.custom-text-shadow {
    text-shadow: 0 0 15px #6a7b8391, 0px 0px 15px #adb5bd00;
}

.link-light {
    color: #fac790;
}

.nav-item {
    padding: 6px;
}

.pad-16 {
    padding: 16px;
}

.hero-img-home {
    background-image: url('../images/main_background.jpeg');
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.small-text {
    font-size: .9rem;
}

.navbar {
    background: linear-gradient(#fffaf0, transparent);
    padding: 0 .5rem;
}

.navbar-toggler-icon {
    background-size: 110%;
}

.navbar-toggler {
    padding: .25rem .55rem;
}

.cat-circle {
    border-radius: .8rem;
}

.feature {
    height: 350px;
}

.feature-img {
    width: 100%;
    background-size: cover;
}

#feature-img-1 {
    background-image: url("../images/man_guitar_singing.jpg");
}

#feature-img-2 {
    background-image: url("../images/child_ukulele.png");
}

#feature-img-3 {
    background-image: url("../images/girl_keyboards.png");
}

.text-shadow {
    text-shadow: 2px 2px 10px black, -2px -2px 10px black;
}

.card {
    overflow: hidden;
}

.card-footer {
    background: transparent;
    border-top: 0px;
  }

.btn {
    display: block;
    width: 100%;
}

.btn-outline-light:hover {
    background-color: rgba(168, 119, 46, 0.3);
    color: #fff;
}

.btn-main {
    background-color: rgb(182, 135, 64);
    border: rgb(167, 123, 42);
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.btn-main:hover {
    background-color: rgb(211, 146, 49);
    border: rgb(139, 105, 41);
    font-weight: 500;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4), 0px 0px 15px rgba(0, 0, 0, 0.4);
}

li .btn-main {
    width: 100px;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;
}

.svg {
    font-size: 2em;
}

.alert {
    position: fixed;
    width: 100vw;
    border-radius: 0;
    font-size: .7rem;
    padding: 5px 0;
    left: 0;
    top: 16%;
    opacity: .7;
    text-align: center;
}

.btn-close {
    position: absolute;
    top: 8px!important;
    left: 250px;
    right: 0;
    padding: 0 0 0 100px!important;
}

.login input, .post-ad-form input, select, .textarea, .signup input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.login label {
    margin-bottom: .5rem;
}

.post-ad-form {
    border-radius: .25rem;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px -1px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: rgb(167, 123, 42);
    color: rgb(167, 123, 42);
    padding: 18px;
}

.post-ad-form label {
    margin: .5rem auto;
}

#id_remember {
    width: auto;
    appearance: auto;
}

.input-container {
    position: relative;
}

.input-with-icon {
    padding-left: 35px;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 42px;
    color: gray;
}

#id_image {
    background-color: #fff;
    margin-left: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.errorlist {
    list-style-type: none;
    background-color: #ffeaea;
    padding: 7px 14px;
    color: red;
    border-radius: 5px;
}

/* AUTOCOMPLETE STRALDGE */
 
.title {
width: 100%;
margin-block-end: 0;
font-weight: 500;
}

.note {
width: 100%;
margin-block-start: 0;
font-size: 12px;
}

.full-field {
flex: 400px;
margin: 15px 0;
}

.slim-field-left {
flex: 1 150px;
margin: 15px 15px 15px 0px;
}

.slim-field-right {
flex: 1 150px;
margin: 15px 0px 15px 15px;
}

.my-button {
background-color: #000;
border-radius: 6px;
color: #fff;
margin: 10px;
padding: 6px 24px;
text-decoration: none;
}

.my-button:hover {
background-color: #666;
}

.my-button:active {
position: relative;
top: 1px;
}

.messages_list {
    list-style-type: none;
    margin: 0 auto;
}

.msg-sent {
	background: #b68740;
    border: 1px solid #6b4c28;
}

.msg-sent, .msg-recieved {
    position: relative;
	border-radius: .6em;
    padding: 1em;
    margin: 25px auto;
    color: white;
    box-shadow: 0 0 10px darkslategrey;
    text-shadow: 0 0 5px black
}

.msg-recieved {
    background: #554e44;
    margin: 25px 50px 25px -25px;
    border: 1px solid #262020;
}

.msg-sent:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.906em solid transparent;
	border-left-color: #b68740;
	border-right: 0;
	border-bottom: 0;
	margin-top: -0.453em;
	margin-right: -0.906em;
}

.msg-recieved:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.906em solid transparent;
	border-right-color: #554e44;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.453em;
	margin-left: -0.906em;
}

.btn-send {
    margin-top: 2.1rem;
}

.msg-form {
    /* position: fixed;
    bottom: 0;
    right: 0;
    padding: 7px; */
}

.msg-form label {
    margin-top: 0;
}

.profile-card {
    border: none;
    border-radius: 10px;
    margin: 0;
    text-align: center;
    padding: .6rem;
}

.user-icon {
    font-size: 1.5rem;
}

.elips-container {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elips-text {
    max-width: 30px;
}

.thmbn-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ad {

}

.fa-ul {
    text-align: right;
}

.fa-heart {
    color: red;
}

.fa-heart, .fa-share-square {
    cursor: pointer;
}

.save-share-link {
    font-size: .6rem;
}

.bg-creme {
    background-color: #f3eee4;
    border: none;
}
