{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    {% if not ads %}
    <div class="row">
        <div class="col col-md-6 d-grid banner mt-4">
            <h4 class="custom-text-shadow pt-2 ps-md-5">Sorry, no results for {{ search_query }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6 mt-5 mx-auto">
            <a class="btn btn-main m-4" href="{% url 'main:home' %}">Try a New Search</a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col col-md-8 banner mt-2">
            <p class="custom-text-shadow pt-2 ps-md-5">Search results for {{ search_query }}</p>
        </div>
    </div>
    {% for ad in ads %}
    <div class="row">
        <div class="col col-md-8 mx-auto">
            <a class="card mt-3 pad-16" href="{% url 'ads:ad_detail' ad.seller ad.slug %}">
                <div class="row">
                    <div class="col-4">
                        <img class="card thmbn-img" src="{{ ad.image.url }}" alt="">
                    </div>
                    <div class="col-8">
                        <small class="text-small ms-auto">Posted on {{ ad.created_on }}</small>
                        <p class="card-title">{{ ad.title }}</p>
                        <div class="elips-container">
                            <small class="card-text elips-text">
                                {{ ad.description }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                {% if ad.sold %}
                        <p class="card-text sold my-1">£{{ ad.price }}</p>
                    </div>
                    <div class="col-8">
                        <p class="card-text text-danger mt-1">SOLD</p>
                    </div>
                    {% else %}
                        <p class="card-text my-1">£{{ ad.price }}</p>
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>

    {% endfor %}
    {% endif %}
</div>
{% endblock %}