{% extends "main/base.html" %}
{% load static %}
{% block content %}

{% for ad in ads %}
<div class="col-6">
    <a class="card feature pad-16 mt-3" href="{% url 'ads:ad_detail' ad.seller ad.slug %}">
        <h4 class="card-title">{{ ad.title }}</h4>
        <p class="card-text">{{ ad.created_on }}</p>
        <p class="card-text">{{ ad.category }}</p>
        <p class="card-text">{{ ad.description }}</p>
        <p class="card-text">£{{ ad.price }}</p>
        <img class="feature-img" src="{{ ad.image.url }}" alt="">
    </a>
</div>
{% endfor %}
{% endblock %}