{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row align-bottom">
        <div class="row justify-content-center">
            <div class="col col-lg-8 mx-lg-auto banner ps-md-5">
                <h2 class="custom-text-shadow pt-2">Profile: {{ user }}</h3>
            </div>
        </div>
        <div class="row pt-2 justify-content-center align-bottom">
            <div class="col-3 col-md-4">
                <div class="col-md-4 soft-fade-up profile-card mt-auto shadow">
                    <i class="fas fa-user user-icon py-3"></i>
                </div>
            </div>
            <div class="col-9 col-md-4">
                {% if request.user.is_authenticated %}
                <ul class="fa-ul">
                    {% if user.first_name or user.last_name %}
                    <li><span class="fa-li"><i class="fas fa-star-of-life"></i></span><small class="pull-end">{{ user.first_name }} {{ user.last_name }}</small></li>
                    {% endif %}
                    {% if user.profile.location %}
                    <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span><small>{{ user.profile.location }}</small></li>
                    {% endif %}
                    <li><span class="fa-li"><i class="fas fa-envelope"></i></span><small>{{ user.email }}</small></li>
                </ul>
                {% else %}
                <h5 class="p-2">Log in to see user details</h5>
                {% endif %}
                {% if user == request.user %}
                <a class="btn ms-3 btn-main mt-auto" href="{% url 'user_profile:edit_profile' %}">Edit Info</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user_ads %}
    <div class="row">
        <div class="col banner mt-2 ps-md-5">
            <h4 class="custom-text-shadow pt-2">{{ user }}'s' Ads</h4>
        </div>
    </div>
        {% for ad in user_ads %}
    <div class="row">
        <div class="col col-md-8 mx-md-auto">
            <a class="card mt-3 pad-16" href="{% url 'ads:ad_detail' ad.seller ad.slug %}">
                <div class="row">
                    <div class="col-4">
                        <img class="card thmbn-img" src="{{ ad.image.url }}" alt="">
                    </div>
                    <div class="col-8">
                        <small class="text-small ms-auto">Posted on {{ ad.created_on }}</small>
                        <p class="card-title">{{ ad.title }}</p>
                        <div class="elips-container">
                            <small class="card-text elips-text">
                                {{ ad.description }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                {% if ad.sold %}
                        <p class="card-text sold my-1">£{{ ad.price }}</p>
                    </div>
                    <div class="col-8">
                        <p class="card-text text-danger mt-1">SOLD</p>
                    </div>
                {% else %}
                        <p class="card-text my-1">£{{ ad.price }}</p>
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row justify-content-center">
        <div class="col col-lg-8 banner-3 mt-2 ps-md-5">
            <h4 class="custom-text-shadow pt-2">No Ads Posted</h4>
        </div>
    </div>
    {% endif %}
    {% if user == request.user %}
        {% if saved_ads %}
        <div class="row justify-content-center">
            <div class="col col-lg-8 banner mt-2 ps-md-5">
                <h4 class="custom-text-shadow pt-2">Saved Ads</h4>
            </div>
        </div>
            {% for ad in saved_ads %}
            <div class="row">
                <div class="col col-md-8 mx-md-auto">
                    <a class="card mt-3 pad-16" href="{% url 'ads:ad_detail' ad.seller ad.slug %}">
                        <div class="row">
                            <div class="col-4">
                                <img class="card thmbn-img" src="{{ ad.image.url }}" alt="">
                            </div>
                            <div class="col-8">
                                <small class="text-small ms-auto">Posted on {{ ad.created_on }}</small>
                                <p class="card-title">{{ ad.title }}</p>
                                <div class="elips-container">
                                    <small class="card-text elips-text">
                                        {{ ad.description }}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                        {% if ad.sold %}
                                <p class="card-text sold my-1">£{{ ad.price }}</p>
                            </div>
                            <div class="col-8">
                                <p class="card-text text-danger mt-1">SOLD</p>
                            </div>
                        {% else %}
                                <p class="card-text my-1">£{{ ad.price }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            {% else %}
        <div class="row">
            <div class="col banner-3 mt-2 ps-md-5">
                <h4 class="custom-text-shadow pt-2">No Ads Saved</h4>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}