{% extends "instr_main/base.html" %}
{% load static %}
{% block content %}

<!-- PIANO ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- GUITAR ICON: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- DRUMS ICON:<div>Icons made by <a href="https://www.flaticon.com/authors/georgy" title="Georgy">Georgy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- CLARINET ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- TRUMPET ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- MIXER ICON: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- CELLO ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- ACCORDION ICON: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form method="post" style="margin-top: 1.3em">
                                <input name="search" type="text" placeholder="Search...">
                                <select name="select-catgory" id="select-category">
                                    {% for instr in category_obj.keys %}
                                    <option value="{{ category }}">{{ instr }}</option>
                                    {% endfor %}
                                </select>
                                <select name="select-area" id="select-area">
                                    {% for area in area_list %}
                                    <option value="{{ area }}">{{ area }}</option>
                                    {% endfor %}
                                </select>
                                {{ forms.search_form | safe }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-signup btn-lg">Search Ads</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-8">
                        <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.6435-9/107693551_2983534108412424_4619359158746219415_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=DvnQmmBpcD4AX-H--0N&_nc_ht=scontent-arn2-1.xx&oh=3ac77778042f14876f46215e05641ae8&oe=61A30EB4" alt="image">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <h3>Categories</h3>
                    <ul class="list-inline text-center">
                    {% for instr, icon in category_obj.items %}
                        <li class="col-1 col-md-2 list-inline-item mx-3">
                            <p class="small-text">{{ instr }}</p>
                            <div class="rounded-circle card bg-dark text-center">
                                <img src="{% static 'images/icons/' %}{{ icon }}.png" class="d-flex cat-icons justify-content-center" alt="{{ icon }}-icon">
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 card text-center">Feature 1</div>
                <div class="col-md-4 card text-center">Feature 2</div>
                <div class="col-md-4 card text-center">Feature 3</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}