{% extends "instr_main/base.html" %}
{% load static %}
{% block content %}

<!-- PIANO ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- GUITAR ICON: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- DRUMS ICON:<div>Icons made by <a href="https://www.flaticon.com/authors/georgy" title="Georgy">Georgy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- CLARINET ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- TRUMPET ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- MIXER ICON: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- CELLO ICON: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
<!-- ACCORDION ICON: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col p-0">
                    <div class="shadow-lg pad-16 mb-8 bg-image hero-img-home"
                        style="background-image: url('https://scontent-arn2-1.xx.fbcdn.net/v/t1.6435-9/107693551_2983534108412424_4619359158746219415_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=DvnQmmBpcD4AX-H--0N&_nc_ht=scontent-arn2-1.xx&oh=3ac77778042f14876f46215e05641ae8&oe=61A30EB4');">
                        <div class="col-md-4">
                            <div class="pad-16 text-white">
                                <form method="post">
                                    <div class="mb-3 input-container">
                                        <label for="search-input" class="form-label">Search</label>
                                        <input class="shadow form-control input-with-icon" id="search-input" name="search" type="text"
                                            placeholder="What are you looking for?">
                                        <i class="input-icon fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <div class="mb-3 input-container">
                                        <label for="select-category" class="form-label">Category</label>
                                        <select class="shadow form-select input-with-icon" name="select-catgory"
                                            id="select-category">
                                            {% for cat in category_dict.keys %}
                                            <option value="{{ category }}">{{ cat }}</option>
                                            {% endfor %}
                                        </select>
                                        <i class="input-icon fa-solid fa-sort"></i>
                                    </div>
                                    <div class="mb-3 input-container">
                                        <label for="select-category" class="form-label">Area</label>
                                        <select class="shadow form-select input-with-icon" name="select-area" id="select-area">
                                            {% for area in area_list %}
                                            <option value="{{ area }}">{{ area }}</option>
                                            {% endfor %}
                                        </select>
                                        <i class="input-icon fa-solid fa-location-dot"></i>
                                        {{ forms.search_form | safe }}
                                        {% csrf_token %}
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-success shadow">Search Ads</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3 mb-3">
                    <h3>Categories</h3>
                    <ul class="list-inline text-center">
                        {% for instr, icon in category_dict.items %}
                        <li class="col-1 col-md-2 list-inline-item mx-3">
                            <p class="small-text">{{ instr }}</p>
                            <div class="cat-circle rounded-circle card bg-dark text-center">
                                <img src="{% static 'images/icons/' %}{{ icon }}.png"
                                    class="d-flex cat-icons justify-content-center" alt="{{ icon }}-icon">
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card text-white feature">
                        <div class="card-body pad-16 feature-img d-flex align-items-center flex-column"
                            id="feature-img-1">
                            <h5 class="card-title text-shadow">Find your gear today</h5>
                            <p class="card-text text-shadow">Give great instruments a new life.</p>
                            <div class="mt-auto w-100">
                                <a href="#" class="btn btn-outline-light text-shadow btn-lg">Post Ad</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-white feature">
                        <div class="card-body pad-16 feature-img d-flex align-items-center flex-column"
                            id="feature-img-2">
                            <h5 class="card-title text-shadow">Fun for the young ones</h5>
                            <p class="card-text text-shadow">Trending instruments for kids - this months top 10.</p>
                            <div class="mt-auto w-100">
                                <a href="#" class="btn btn-outline-light text-shadow btn-lg">Check It Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-white feature">
                        <div class="card-body pad-16 feature-img d-flex align-items-center flex-column"
                            id="feature-img-3">
                            <h5 class="card-title text-shadow">Don't have an account?</h5>
                            <p class="card-text text-shadow">Sign Up and gain full access - completely free of charge.
                            </p>
                            <div class="mt-auto w-100">
                                <a href="#" class="btn btn-outline-light text-shadow btn-lg">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}