{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-8">
        <div class="row">
            <h2 class="h2">{{ ad.title }}</h2>
        </div>
        <div class="row">
            <div class="card">
                <img src="{{ ad.image.url }}" alt="">
            </div>
        </div>
        <div class="row">
            <p class="card-text mt-4">{{ ad.created_on }}</p>
            <a class="card-text mt-4" href="{% url 'user_profile:profile' ad.seller %}">{{ ad.seller }}</a>
            <p class="card-text mt-4">{{ ad.description }}</p>
            <p class="card-text mt-4">{{ ad.category }}</p>
            {% if request.user.username == ad.seller.username %}
            <p class="card-text mt-4">{{ ad.location }}</p>
            {% else %}
            <p class="card-text mt-4">{{ ad.city }}</p>
            {% endif %}
            <p class="card-text mt-4">£{{ ad.price }}</p>
            {% if request.user.username == ad.seller.username %}
            <a class="btn btn-success"href="{% url 'ads:ad_update' ad.seller ad.slug %}">Edit Ad</a>
            {% endif %}
            {% if user.is_authenticated %}
                {% if request.user.username != ad.seller.username %}
                <form class="d-inline" action="{% url 'ads:ad_save' ad.slug %}" method="POST">
                    {% csrf_token %}
                    {% if saved %}
                    <button type="submit" name="ad_id" value="{{ ad.slug }}" class="btn">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" name="ad_id" value="{{ ad.slug }}" class="btn">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                    {% endif %}
                </form>
            {% else %}
            <span class="text-secondary"><i class="far fa-heart"></i></span>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}