{% extends "main/base.html" %}
{% load static %}
{% load social_share %}
{% block content %}

<div class="container-fluid justify-content-center col-md-10">
    <div class="col col-lg-8 mx-auto">
    <div class="row justify-content-center">
        <div class="col">
            <h2>Ad Detail</h2>
            <div class="card my-4">
                <img src="{{ ad.image.url }}" alt="">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 align-top">
            <h3 class="h3">{{ ad.title }}</h3>
            {% if request.user.username == ad.seller.username %}
            <p class="card-text mt-4"><i class="fas fa-map-marker-alt"></i><small> {{ ad.location }}</small></p>
            {% else %}
            <p class="card-text mt-1"><i class="fas fa-map-marker-alt"></i><small> {{ ad.city }}</small></p>
            {% endif %}
        </div>
        <div class="col-6">
            <p><small class="mt-1">{{ ad.created_on }}<small></p>
            <small>Seller:</small>
            <a class="card-text mt-1" href="{% url 'user_profile:profile' ad.seller %}">
                <strong>{{ ad.seller }}</strong>
            </a>
            <p class="card-text mt-1">{{ ad.category }}</p>
        </div>
    </div>
    {% if ad.sold %}
    <div class="row justify-content-center">
        <div class="col-6">
            <p class="card-text sold my-1">£{{ ad.price }}</p>
        </div>
        <div class="col-6">
            <p class="card-text text-danger mt-1">SOLD</p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <p class="card-text my-1">£{{ ad.price }}</p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="card bg-creme my-md-5">
                <p class="card-text m-2">{{ ad.description }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 col-md-6 mx-auto">
            {% if request.user.username == ad.seller.username %}
            <a class="btn btn-main" href="{% url 'ads:ad_update' ad.seller ad.slug %}">Edit Ad</a>
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
            {% if user.is_authenticated %}
                {% if request.user.username != ad.seller.username %}
                <div class="col-6">
                    <form class="d-grid" action="{% url 'ads:ad_save' ad.slug %}" method="POST">
                        {% csrf_token %}
                        {% if saved %}
                        <button type="submit" name="ad_id" value="{{ ad.slug }}" class="btn btn-light save-share-link">
                            Saved to My Ads
                            <i class="fas fa-heart"></i>
                        </button>
                        {% else %}
                        <button type="submit" name="ad_id" value="{{ ad.slug }}" class="btn btn-light save-share-link">
                            Save to My Ads
                            <i class="far fa-heart"></i>
                        </button>
                            {% endif %}
                            {% endif %}
                    </form>
                </div>
            {% else %}
            <div class="col-6">
                <p>Please log in to save ads.</p>
            </div>
            <!-- <span class="text-secondary"><i class="far fa-heart"></i></span> -->
            {% endif %}
            <div class="col-6 d-grid mx-auto">
                <button type="button" class="btn btn-light save-share-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Share Ad
                    <i class="fas fa-share-square"></i>
                </button>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Share this page</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row share-div">
                            <div class="col-4 align-center">
                                <button class="btn btn-light">
                                    {% post_to_facebook object_or_url "Facebook" %}
                                    <i class="fab fa-facebook"></i>
                                </button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-light">
                                    {% post_to_whatsapp object_or_url "WhatsApp" %}
                                    <i class="fab fa-whatsapp"></i>
                                </button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-light">
                                    {% post_to_reddit object_or_url "Reddit" %}
                                    <i class="fab fa-reddit"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}
