{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="row mx-auto">
    <div class="col banner">
        <h2 class="custom-text-shadow p-2">Ad: {{ ad }}</h2>
    </div>
</div>
<div class="row mx-auto">
    <div class="col">
        <ul class="messages_list">
            {% for message in messages %}
            {% if message.sender == request.user %}
            <li class="msg-sent message">
                <p>Time:{{ message.created_on }}</p>
                <p>User:{{ message.sender }}</p>
                <p>Message:{{ message.message }}</p>
            </li>
            {% else %}
            <li class="msg-recieved message">
                <p>Time:{{ message.created_on }}</p>
                <p>User:{{ message.sender }}</p>
                <p>Message:{{ message.message }}</p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row g-0 mb-0">
    <div class="col mx-auto">
        <form class="post-ad-form msg-form" method="post" action="">
            {% csrf_token %}
            <label for="msg">Message</label>
            <input type="text" name="message" id="message" value="">
            <input type="text" name="ad" id="ad" value="{{ ad }}">
            <input type="text" name="recipient" id="recipient" value="{{ ad.seller }}">
            <div class="col">
                <button class="btn btn-main btn-send" type="submit">Send</button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/date.js' %}"></script>
</div>

{% endblock %}
