{% extends "main/base.html" %}
{% block content %}

<div class="row mx-auto">
    <div class="col">
        <h2>Messages</h2>
    </div>
</div>
<div class="row mx-auto">
    <div class="col">
        <ul class="messages_list">
            <li class="msg-recieved">
                <p>Time :{{ recipient.created_on }}</p>
                <p>User :{{ recipient.user }}</p>
                <p>Message :{{ recipient.message }}</p>
            </li>
            <li class="msg-sent">
                <p>Time :{{ sender.created_on }}</p>
                <p>User :{{ sender.user }}</p>
                <p>Message :{{ sender.message }}</p>
            </li>
        </ul>
    </div>
</div>
<div class="row g-0 mb-0">
    <div class="col mx-auto">
        <form class="post-ad-form msg-form" method="post" action="">
            {% csrf_token %}
            <label for="msg">Message</label>
            <input type="text" name="message" id="message" value="test_msg">
            <br>
            <label for="msg">Recipient</label>
            <input type="text" name="recipient" id="recipient" value="test_user">
            <br>
            <div class="row mx-auto">
            <div class="col-8">
                <label for="msg">Time</label>
                <input type="text" name="created_on" id="created_on" value="00:00, Tuesday Nov 14th">
            </div>
            <div class="col">
                <button class="btn btn-main btn-send" type="submit">Send</button>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}
