{% extends "main/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="col mx-auto">
                    <h2>500</h2>
                    <p class="my-3">Oops - Seems like we have a server error here.
                    </p>
                    <p class="my-3">Navigate back <a class="lead my-3" href="{% url 'main:home' %}">Home</a></p>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
