{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="col-12 mt-3 bg-info">Categories</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form method="post" style="margin-top: 1.3em">
                                {{ search_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-signup btn-lg">Search Ads</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-8">
                        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fnice-france&psig=AOvVaw2zV5P2s6G_ftY7JXsIc-Bb&ust=1635513768042000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJiGrduZ7fMCFQAAAAAdAAAAABAD" alt="image">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 bg-info">

                </div>
                <div class="col-md-4 bg-info">Feature 1</div>
                <div class="col-md-4 bg-info">Feature 2</div>
                <div class="col-md-4 bg-info">Feature 3</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}